* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-section {
  margin: 100px;
  justify-content: center;
}

.contact-form{
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
  justify-content: center;
  place-content: center;
}

.form-control {
  display: inline-block;
  width: 100%;
  margin: 16px 0;
  border: 2px solid #68736b;
  border-radius: 10px;
  background: none; 
  padding: 20px 30px;
  outline: none;
  color: grey;
  transition: 0.5s;
}

.form-control:focus{
  box-shadow: 0 0 10px 0; 
}

textarea.form-control {
  resize: none;
  height: 100px;
}

.btn {
  float: center;
  border: 0;
  background: #68736b; 
  color: #fff7ec;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover{
  background: #b8b89d;
}
